/* 
======
Global
======
*/

html {
    font-size: 16px;
}

/* white heading */

.white {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* blue heading */

.blue {
    color: rgb(11, 11, 48);
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 0;
}


/*
================
HEADER & NAV BAR 
================
*/

header {
    background-color: rgb(11, 11, 48);
    color: white;
    text-transform: uppercase;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 0 1rem;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    padding: 0 1.25rem;
}

li a {
    text-decoration: none;
    color: white;
}

.nav-toggle {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}

.logo:hover {
    color: rgb(27, 173, 105);
}


/* Utility classes */
.open {
    height: 350px;
}

.hidden {
    display: none;
}

nav a:hover {
    color: rgb(27, 173, 105);
  }

/* 
======
ABOUT
======
*/
.info {
    background-color: rgb(27, 173, 105);
    color: white;
    text-align: center;
    text-transform: uppercase;
}


.avatar {
    border-radius: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.name-title {
    margin-top: 30px;
    font-size: 4em;
}

.description {
    padding-bottom: 50px;
    font-size: 2em;
}

.about-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 1em;
  }


/* 
======
PORTFOLIO
======
*/


#portfolio {
    background-color: rgb(27, 173, 105);
    color: white;
    overflow: hidden;
}

.item {
    width: 100%;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .container > div {
    flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    margin-bottom: 10px;
  }
  
  .text {
    margin-right: 50px;
    margin-left:50px;
  }
  
  .port-img {
    margin-top: 20px;
    height: 300px;
    width: 500px;
  }

  h3 {
      font-size: 2em;
      margin-bottom: 0;
  }

/* 
======
SKILLS
======
*/


.skill-icon {
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
    margin-left: 40px;
}

.fab {
    font-size: 3em;
    color: rgb(11, 11, 48);;
}

/* 
======
CONTACT FORM
======
*/

#contact {
    background-color: rgb(27, 173, 105);
}


form { 
    max-width:500px; margin:0px auto;
 }

 ::placeholder { 
    color: white;
 }

.feedback-input {
    color:white;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid rgb(11, 11, 48);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { 
    border:2px solid rgb(34, 34, 141); 
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:rgb(11, 11, 48);
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    margin-bottom: 20px;
    font-weight:700;
}

[type="submit"]:hover { 
    background-color: rgb(34, 34, 141);
}

/* 
======
FOOTER 
======
*/

footer {
    color: white;
    background-color: rgb(11, 11, 48);
}

footer a {
    margin-top: 0;
}

footer .footer-contact {
    display: flex;
    justify-content: center;
}

.github {
    margin: 15px 10px 0px 10px;
}

.linkedin {
    margin: 15px 10px 0px 10px;
}

.contact-icon {
    color: white;
    font-size: 3em;
}

footer .footer-copy {
    font-size: 0.75em;
    text-align: center; 
    height: 50px;
    line-height: 50px;
}

footer p {
    margin-top: 0;
}

/* 
======
MEDIA 
======
*/

@media all and (max-width: 720px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: 250ms height ease-in-out;
    }

    li {
        display: block;
        text-align: center;
        padding: 1.5rem 0;
    }

    li a {
        font-size: 1.4rem;
    }

    .nav-toggle {
        display: block;
    }

    nav a:hover {
        color: rgb(27, 173, 105);
      }

      .avatar {
        border-radius: 35%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        height: 50%;
        width: 50%;
    }
    
    .name-title {
        margin-top: 30px;
        font-size: 2em;
    }
    
    .description {
        padding-bottom: 50px;
        font-size: 1em;
    }

/* 
======
ABOUT
======
*/


.about-center {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 1rem;
  }

/* 
======
PORTFOLIO
======
*/  
  .container {
    flex-direction: column;
  }
  
  .port-img {
    height: 75%;
    width: 75%;
  }

  h3 {
      font-size: 1.5rem;
      margin-bottom: 0;
  }

/* 
======
CONTACT FORM
======
*/

form { 
    max-width:300px; margin:0px auto;
 }
}
